attached_assets/Almanya-20260521T234900Z-3-001_1779409931478.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/İspanya-20260521T234902Z-3-001_1779410132662.zip filter=lfs diff=lfs merge=lfs -text
zipFile.zip filter=lfs diff=lfs merge=lfs -text
